#box{
  background: blue;
  width: 300px;
  height: 300px;
  padding: 10px;
  color: #fff;
  position: relative;
  &::before{
    content: 'before';
    display: block;
  }
  &::after{
    content: 'after';
    display: block;
    position: absolute;
  }
}

@mixin clearfix() {
  &::after{
    display: block;
    content: '';
    clear: both;
  }
}

.box-parent{
  padding: 20px;
  background-color: green;
  .box-child{
    width: 200px;
    height: 200px;
    background-color: #f00;
    border: 1px solid #ff0;
    float: left;
    &:not(:last-child){margin-right: 40px}
  }
  @include clearfix();
}