footer{
  color:$color-gray-light;
  background-color: $color-blue-dark;
  padding: 9rem 7rem 3rem 7rem;

  @include clearfix();

  #logo-text-footer{
    width: 25%;
    float: left;
    font-family: 'Lato',sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 4rem;
  }
  #copyright{
    float: left;
    width: 75%;
    font-size: 1.2rem;
    
    p:first-child{
      margin-bottom: 2rem;
      word-break: break-all;
      text-align: justify;
      column-count: 3;
      column-gap: 3rem;
      column-rule-style: dashed;
      column-rule-width: 1px;
      column-rule-color: #888;
      column-width: 1rem;
    }
  }
}